<div class="container" *ngIf="!isFormVisible">

  <div class="card-header">
    <h4 style="color: #007BFF; font-weight: bold;">Role Management</h4>
  </div>
  <div style="padding-top:10px;" class="table-container">
    <div class="d-flex justify-content-between align-items-center " style="background: whitesmoke; width: 100%;  ">
      <div class="d-flex justify-content-between align-items-center">
        <div class="search-bar-container-table">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <!--<input class="input" matInput [readonly]="mode === 'view'" (keyup)="applyFilter($event)" placeholder="Start typing to search User " #input>-->
          <input class="input" matInput (keyup)="applyFilter($event)" placeholder="Search..." />
        </div>
      </div>
      <button mat-icon-button color="primary" (click)="openForm('add')" matTooltip="Add User">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table class="responsive-table" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <!-- Table -->
      <!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->
      <!-- ID Column -->
      <ng-container matColumnDef="roleId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.roleId }} </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <!-- Email Column -->
      <!-- Manager Access -->
      <ng-container matColumnDef="managerAccess">
        <th mat-header-cell *matHeaderCellDef> Manager Access </th>
        <td mat-cell *matCellDef="let element"> {{ element.managerAccess ? element.managerAccess : 'No' }} </td>
      </ng-container>

      <!-- QOC Access -->
      <ng-container matColumnDef="qocAccess">
        <th mat-header-cell *matHeaderCellDef> QOC Access </th>
        <td mat-cell *matCellDef="let element"> {{ element.qocAccess ? element.qocAccess : 'No' }} </td>
      </ng-container>

      <!-- Sensitive -->
      <ng-container matColumnDef="sensitive">
        <th mat-header-cell *matHeaderCellDef> Sensitive </th>
        <td mat-cell *matCellDef="let element"> {{ element.sensitive ? element.sensitive : 'No' }} </td>
      </ng-container>


      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdBy }} </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdOn }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openForm('view', element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm('edit', element)">
            <mat-icon style="color: #007BFF">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteRow(element.roleId)">
            <mat-icon style="color: #007BFF">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- Form Section -->
<div *ngIf="isFormVisible" style="margin:10px;">
  <h4 style="color: #007BFF !important; font-weight: bold;">{{ formMode | titlecase }} Role</h4>
  <form>
    <div>
      <div class="form-row d-flex flex-wrap align-items-center gap-3 mb-3">
        <!-- Bootstrap Floating Label -->
        <div class="form-outline-floating mb-3 floated-always">
          <input type="text"
                 class="form-control outlined-input"
                 id="roleName"
                 placeholder="Enter role name"
                 name="name"
                 [(ngModel)]="selectedEntry.name"
                 [disabled]="formMode === 'view'">
          <label for="roleName">Name</label>
        </div>



        <!-- Bootstrap Checkboxes -->
        <div class="form-check me-3">
          <input type="checkbox"
                 class="form-check-input"
                 id="managerAccess"
                 [(ngModel)]="selectedEntry.managerAccess"
                 name="managerAccess"
                 [disabled]="formMode === 'view'">
          <label class="form-check-label" for="managerAccess">Manager Access</label>
        </div>

        <div class="form-check me-3">
          <input type="checkbox"
                 class="form-check-input"
                 id="qocAccess"
                 [(ngModel)]="selectedEntry.qocAccess"
                 name="qocAccess"
                 [disabled]="formMode === 'view'">
          <label class="form-check-label" for="qocAccess">QOC Access</label>
        </div>

        <div class="form-check">
          <input type="checkbox"
                 class="form-check-input"
                 id="sensitiveAccess"
                 [(ngModel)]="selectedEntry.sensitive"
                 name="sensitive"
                 [disabled]="formMode === 'view'">
          <label class="form-check-label" for="sensitiveAccess">Sensitive Diagnosis Member Access?</label>
        </div>
      </div>



      <app-permission-manager *ngIf="formMode === 'add' || formMode === 'edit'"
                              [permissionData]="parsedPermissionsJson" >
      </app-permission-manager>

    </div>

    <div style="text-align:right;">
      <button mat-raised-button class="role-button" style="border-radius:5px !important;" *ngIf="formMode !== 'view'" (click)="saveEntry()">Save</button>
      <button mat-raised-button class="role-button" style="border-radius:5px !important;" (click)="cancelForm()">Cancel</button>
    </div>
  </form>
</div>
