<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span>Add Activity</span>
  </button>
  <button mat-menu-item disabled>
    <span>Run Assessment</span>
  </button>
  <button mat-menu-item>
    <!--<mat-icon>notifications_off</mat-icon>-->
    <span>Messages</span>
  </button>
  <button mat-menu-item>
    <span>Add Notes</span>
  </button>
  <button mat-menu-item disabled>
    <span>Send Letter</span>
  </button>
  <button mat-menu-item>
    <!--<mat-icon>notifications_off</mat-icon>-->
    <span>Unassign</span>
  </button>
  <button mat-menu-item>
    <!--<mat-icon>notifications_off</mat-icon>-->
    <span>Summary</span>
  </button>
</mat-menu>



<div class="d-flex justify-content-between align-items-center " style="width: 100%; padding-bottom:5px;  ">

  <div class="search-box" [class.active]="isFocused">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input type="text"
           (keyup)="applyFilter($event)" placeholder="Start typing to search Assinged Authorizations"
           class="search-input"
           (focus)="onFocus()"
           (blur)="onBlur()" #input />

  </div>
  <!--<div>
    <button mat-icon-button color="primary" (click)="onAddClick()" matTooltip="Add Auth">
      <mat-icon>add</mat-icon>
    </button>
  </div>-->
  <!--<div class="add-container">-->
  <!--<button mat-icon-button
          (click)="onAddClick()"
          matTooltip="Click to add a new authorization"
          [matTooltipClass]="'custom-tooltip'"
          [ngClass]="{'highlight-add': showAddHighlight}">
    <mat-icon>add</mat-icon>
  </button>-->
  <div class="row">
    <div class="col-md-3 mb-3">
      <button (click)="onAddClick()"
              matTooltip="Click to add a new authorization"
              [matTooltipClass]="'custom-tooltip'"
              [ngClass]="{'highlight-add': showAddHighlight}" class="btn btn-primary" style="width:max-content;">
        Add Auth
      </button>
    </div>
    <!--</div>-->
  </div>
</div>

<div class="d-flex justify-content-between align-items-center " style="margin-left:10px; margin-right:10px;  ">
  <table class="responsive-table" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="authDetailId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let row">
        <div class="example-element-weight">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="authNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Number </th>
      <td mat-cell *matCellDef="let row">
        <div class="example-element-weight">
          <a mat-button (click)="onAddClick(row.authNumber)">{{row.authNumber}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="authTypeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Type ID </th>
      <td mat-cell *matCellDef="let row"> {{row.authTypeId || ''}} </td>
    </ng-container>

    <ng-container matColumnDef="memberId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Member ID </th>
      <td mat-cell *matCellDef="let row"> {{row.memberId || ''}} </td>
    </ng-container>

    <ng-container matColumnDef="authDueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Due Date </th>
      <td mat-cell *matCellDef="let row"> {{row.authDueDate || ''}} </td>
    </ng-container>

    <ng-container matColumnDef="nextReviewDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Review Date </th>
      <td mat-cell *matCellDef="let row"> {{row.nextReviewDate || ''}} </td>
    </ng-container>

    <ng-container matColumnDef="treatmentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Type </th>
      <td mat-cell *matCellDef="let row"> {{row.treatmentType || ''}} </td>
    </ng-container>

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--<div *ngIf="isEmpty && !isLoading" style="text-align-last:center;" class="no-data">
    <p>No data available</p>
  </div>-->
  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
