

.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
  max-width: 600px;
  transition: border-color 0.2s ease;
}

  .search-box.active {
    border: 2px solid #1976d2; /* Focus border */
  }

/*.search-input {
  flex: 1;
  padding: 6px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}*/

.search-icon {
  font-size: 20px;
  color: #888;
  margin-right: 6px;
}


/* ✅ Custom Tooltip Styling */
.custom-tooltip {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

.no-data {
  font-size: 1rem;
  color: #888;
}

.mat-menu-item:hover {
  background-color: #e3f2fd;
}




.auth-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  transition: box-shadow 0.2s ease;
  background-color: #fff;
  padding: 16px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
}

  .auth-card:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  }

  .auth-card.compact {
    padding: 10px;
    font-size: 0.85rem;
  }

.auth-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1976d2;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

  .auth-link:hover {
    text-decoration: underline;
  }

.auth-type-chip {
  font-size: 0.75rem;
  background: linear-gradient(90deg, #2196f3, #1e88e5);
  color: #fff;
  border-radius: 16px;
  padding: 4px 10px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.mat-icon-button {
  height: 36px;
  width: 36px;
}


.text-sm {
  font-size: 0.9rem;
  color: #333;
  display: flex;
  align-items: center;
}

.mat-icon.inline {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
  color: #555;
}



