

.search-box {
  display: flex;
  align-items: center;
  /*  border: 1px solid #ccc;
  border-radius: 4px;*/
  width: 50%; /* Adjust width as needed */
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
}

.search-box.active {
  border-bottom: 2px solid #0078d7; /* Highlight color */
}

/* ✅ Custom Tooltip Styling */
.custom-tooltip {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

.no-data {
  font-size: 1rem;
  color: #888;
}
