.mat-mdc-header-cell {
  justify-content: left;
  color: white;
  font-weight: bold !important;
  padding: 0px 0px 0px 15px;
  background-color: #007BFF !important;
  font-family: 'Open Sans', sans-serif;
  border-right-color: white;
  border-right-width: thin;
}

.mat-mdc-header-row {
  font-family: 'Open Sans', sans-serif;
  height: 40px;
}

.mat-mdc-row {
  font-family: 'Open Sans', sans-serif;
  height: auto;
}

.mat-mdc-card {
  background-color: transparent;
  border-color: none;
  border-radius: 0;
  box-shadow: none;
}

.search-bar-container-table {
  padding: 0px 56px 0px 8px;
  background: #eaf1fb;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input {
  font-size: 1.1rem;
  outline: none;
  border: none;
  background: inherit;
  min-width: 500px;
}

.rounded-box {
  width: 200px; /* Set the width of the div */
  height: 80px; /* Set the height of the div */
  background-color: #007BFF; /* Add a background color */
  color: white; /* Text color */
  /* Padding inside the div */
  border-radius: 5px; /* This creates rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow */
  transition: background-color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

  .rounded-box.selected {
    border-bottom: 6px solid orange;
  }

/* Container for the table */
.table-container {
  /*  margin: 20px;
*/ overflow-x: auto;
}

/* Responsive Table */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

  /* Table Header */
  .responsive-table th {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: left;
  }

  /* Table Body */
  .responsive-table td {
    padding: 5px;
    border: 1px solid #ddd;
  }

  /* Row Hover Effect */
  .responsive-table tr:hover {
    background-color: #f1f1f1;
  }


h2 {
  text-align: left;
  margin-bottom: 5px;
}

.form-section {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-content: start;
  align-items: start;
  align-self: start;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0px 10px;
}

mat-form-field {
  flex: 1 1 calc(33.333% - 15px);
  min-width: 150px;
}

  mat-form-field.read-only input {
    /*background-color: #f5f5f5;*/
  }

mat-label {
  font-size: 15px;
  font-weight: bold;
}

.action-buttons {
  text-align: center;
}

button {
  margin: 0 5px;
}

mat-icon {
  color: #007BFF;
}

/* Success Snackbar */
.success-snackbar {
  background-color: #007BFF !important; /* Green for success */
  color: white !important;
}

/* Error Snackbar */
.error-snackbar {
  background-color: #007BFF !important; /* Red for error */
  color: white !important;
}

/* Warning Snackbar */
.warning-snackbar {
  background-color: #007BFF !important; /* Orange for warnings */
  color: white !important;
}

.form-container {
  max-width: 60%;
  margin: 0 auto;
}

/*.details-card {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}*/

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.form-field {
  flex: 1;
}

.full-width {
  flex: 100%;
}

.checkbox {
  align-self: center;
  margin-left: 8px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.cancel-button {
  margin-top: 5px;
  background-color: #007BFF !important;
  color: white !important;
  border-radius: 5px !important;
}

.no-rounded-border .mat-dialog-container {
  border-radius: 0 !important; /* Remove the rounded corners */
}

/* Center alignment for specific columns */
.center-column {
  text-align: center; /* Centers text content */
}

/* Optional: Center align checkbox within the Active Flag column */
.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific override */
h4 {
  margin: 0;
}

mat-icon {
  color: #007BFF;
}

.cancel-button {
  background-color: #007BFF !important;
  color: white !important;
}

.success-snackbar {
  background-color: #007BFF !important;
  color: white !important;
}
