<body>
  <div class="app-layout">
    <!-- Fixed Header -->
    <header class="app-header" *ngIf="shouldDisplayHeaderAndFooter()">
      <app-header></app-header>
    </header>

    <!-- Scrollable Main Content -->
    <main class="app-main">
      <router-outlet></router-outlet>
    </main>
    <!-- Floating Add Notes button - visible across the whole app -->
    <app-floatingnotes *ngIf="shouldDisplayHeaderAndFooter()"></app-floatingnotes>

    <!-- Footer (optional sticky at bottom) -->
    <!--<footer class="app-footer" *ngIf="!shouldDisplayHeaderAndFooter()">
      <app-footer></app-footer>
    </footer>-->
  </div>
</body>

