<div class="form-container" *ngIf="isFormVisible">
  <form>
    <div class="form-grid">
      <ng-container *ngFor="let field of documentFields">
        <ng-container *ngIf="field.id !== 'authorizationDocumentsGrid'">
          <div class="form-group">
            <ng-container [ngSwitch]="field.type">
              <!-- Autocomplete Select -->
              <ng-container *ngSwitchCase="'select'">
                <div class="form-outline dropdown-container">
                  <label>{{ field.displayName }} <span *ngIf="field.required" class="text-danger">*</span></label>
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="field.displayLabel"
                         (input)="filterOptions(field)"
                         (focus)="field.showDropdown = true"
                         (blur)="onSelectBlur(field)"
                         [name]="field.id"
                         [attr.autocomplete]="'off'"
                         #fieldModel="ngModel">
                  <span class="dropdown-arrow">&#9662;</span>

                  <div class="autocomplete-dropdown" *ngIf="field.showDropdown && field.filteredOptions?.length">
                    <div class="autocomplete-option"
                         *ngFor="let option of field.filteredOptions"
                         (mousedown)="selectDropdownOption(field, option)">
                      {{ option.label }}
                    </div>
                  </div>

                  <div *ngIf="field.required && fieldModel.invalid && (fieldModel.dirty || fieldModel.touched || showValidationErrors)" class="text-danger">
                    {{ field.requiredMsg || (field.displayName + ' is required.') }}
                  </div>
                </div>
              </ng-container>
              <textarea *ngSwitchCase="'textarea'" [(ngModel)]="field.value" [name]="field.id" [ngModelOptions]="{standalone: true}"></textarea>
              <input *ngSwitchCase="'file'" type="file" multiple (change)="handleFileUpload($event)">
              <label *ngSwitchCase="'label'">{{ field.info }}</label>
              <input *ngSwitchDefault type="text" [(ngModel)]="field.value" [name]="field.id" [ngModelOptions]="{standalone: true}">
            </ng-container>
            <label>{{ field.label }}</label>
          </div>
        </ng-container>
      </ng-container>
      <div class="form-group button-right">
        <button type="button" (click)="saveDocument()">Save</button>
        <button type="button" (click)="cancelForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div class="table-container">
  <div class="d-flex justify-content-between align-items-center " style="width: 100%;  ">
    <div class="d-flex justify-content-between align-items-center">
      <div class="search-bar-container-table">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <!--<input class="input" matInput [readonly]="mode === 'view'" (keyup)="applyFilter($event)" placeholder="Start typing to search User " #input>-->
        <input class="input" matInput (keyup)="applyFilter($event)" placeholder="Search Documents" />
      </div>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="openForm('add')" matTooltip="Add Notes">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <table class="responsive-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="authorizationDocumentTypeLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Type</th>
      <td mat-cell *matCellDef="let doc">{{ doc.authorizationDocumentTypeLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="authorizationDocumentDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let doc">{{ doc.authorizationDocumentDesc }}</td>
    </ng-container>

    <ng-container matColumnDef="authorizationSelectFiles">
      <th mat-header-cell *matHeaderCellDef>Files</th>
      <td mat-cell *matCellDef="let doc">
        <span *ngFor="let file of doc.authorizationSelectFiles">
          <a href="#" (click)="viewDocument(file)">{{ file }}</a>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
      <td mat-cell *matCellDef="let doc">{{ doc.createdOn | date: 'MM/dd/yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
      <td mat-cell *matCellDef="let doc">{{ doc.createdBy }}</td>
    </ng-container>

    <!--<ng-container matColumnDef="updatedOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated On</th>
      <td mat-cell *matCellDef="let doc">{{ doc.updatedOn }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
      <td mat-cell *matCellDef="let doc">{{ doc.updatedBy }}</td>
    </ng-container>-->
    ne

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let doc">
        <button mat-icon-button (click)="editDocument(doc)" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteDocument(doc.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
