<div class="form-container">
  <form>
    <div class="form-grid">
      <ng-container *ngFor="let field of documentFields">
        <ng-container *ngIf="field.id !== 'authorizationDocumentsGrid'">
          <!-- Ignore unwanted fields -->
          <div class="form-group">
            <ng-container [ngSwitch]="field.type">

              <!-- Dropdown (Select) -->
              <select *ngSwitchCase="'select'" [(ngModel)]="field.value" [name]="field.id" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>

              <!-- Textarea -->
              <textarea *ngSwitchCase="'textarea'" [(ngModel)]="field.value" [name]="field.id" [ngModelOptions]="{standalone: true}"></textarea>

              <!-- File Upload -->
              <input *ngSwitchCase="'file'" type="file" multiple (change)="handleFileUpload($event)">

              <!-- Readonly Label (for information note) -->
              <label *ngSwitchCase="'label'">{{ field.info }}</label>

              <!-- Default Input (Text) -->
              <input *ngSwitchDefault type="text" [(ngModel)]="field.value" [name]="field.id" [ngModelOptions]="{standalone: true}">
            </ng-container>
            <label>{{ field.label }}</label>
          </div>
        </ng-container>
      </ng-container>

      <button type="button" (click)="saveDocument()">Save</button>
    </div>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Document Type</th>
      <th>Document Description</th>
      <th>Files</th>
      <th>Created On</th>
      <th>Created By</th>
      <th>Updated On</th>
      <th>Updated By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents">
      <td>{{ doc.authorizationDocumentType }}</td>
      <td>{{ doc.authorizationDocumentDesc }}</td>
      <td>
        <span *ngFor="let file of doc.authorizationSelectFiles">
          <a href="#" (click)="viewDocument(file)">{{ file }}</a>
        </span>
      </td>
      <td>{{ doc.createdOn }}</td>
      <td>{{ doc.createdBy }}</td>
      <td>{{ doc.updatedOn }}</td>
      <td>{{ doc.updatedBy }}</td>
      <td>
        <button (click)="editDocument(doc)">Edit</button>
        <button (click)="deleteDocument(doc.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
