

<div class="container" style="padding: 0px !important; font-family: 'Open Sans', sans-serif !important; font-size: 14px !important; position: relative;">
  <!-- Close Button -->
  <div class="close-container">
    <span>
      <mat-icon>menu</mat-icon>
    </span>
    <span class="close-btn" (click)="onCancelClick()">
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <div class="content-section">
    <div *ngFor="let info of additionalInfo; let i = index" class="row mb-3" style="padding:10px;">

      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Auth No.</label>
          <input type="text" class="form-control" placeholder="Auth No." [(ngModel)]="authNumber" name="authNumber{{i}}" id="authNumber{{i}}" disabled />
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Auth Type</label>
          <input type="number" class="form-control" placeholder="Auth Type" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="dateIndicator{{i}}" class="form-label">Due Date</label>
          <input type="number" class="form-control" placeholder="Due Date" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Days Left</label>
          <input type="number" class="form-control" placeholder="Days Left" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Request Priority</label>
          <input type="number" class="form-control" placeholder="Request Priority" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Auth Owner</label>
          <input type="number" class="form-control" placeholder="Auth Owner" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Auth Status</label>
          <input type="number" class="form-control" placeholder="Auth Status" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>


      <div class="col-md-3 mb-3">
        <div class="form-outline">
          <label for="numberOfDays" class="form-label">Overall Status</label>
          <input type="number" class="form-control" placeholder="Overall Status" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" disabled />
        </div>
      </div>


      <!--
      <div class="col-md-3 mb-3 position-relative">
        <input type="text" class="form-control" placeholder="Days Left" [(ngModel)]="info.memberName" name="memberName{{i}}" id="memberName{{i}}" appShowLabel />
      </div>
      -->

    </div>

    <!-- Horizontal Stepper -->
    <mat-horizontal-stepper style="padding: 0px !important;margin-top:-40px;background-color:transparent !important;" [selectedIndex]="stepperSelectedIndex" #stepper>
      <mat-step label="Request Details" style="padding: 0px !important;">

        <div class="content" style="padding: 0px !important;">
          <!-- Sidebar -->
          <!--<div class="sidebar">
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'enrollment' }" (click)="scrollToSection('enrollment')">Enrollment Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'auth' }" (click)="scrollToSection('auth')">Auth Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'provider' }" (click)="scrollToSection('provider')">Provider Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'diagnosis' }" (click)="scrollToSection('diagnosis')">Diagnosis Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'service' }" (click)="scrollToSection('service')">Service Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'additional' }" (click)="scrollToSection('additional')">Additional Details</div>
            <div class="sidebar-item" [ngClass]="{ 'active': highlightedItem === 'status' }" (click)="scrollToSection('status')">Status Details</div>
          </div>-->
          <!-- Main Form -->
          <div class="main-form" style="padding: 0px !important;">
            <!-- Enrollment Details -->
            <mat-card style="width: 100%;">

              <!-- Card Header with Expand/Collapse Button -->
              <div class="card-header" (click)="isExpanded = !isExpanded" style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <!-- Expand/Collapse Icon -->
                  <mat-icon>{{ isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                  <!-- Title -->
                  <h6 style="color: #007BFF; font-weight: bold; margin: 0; padding-right: 30px;">Enrollment Details</h6>
                  <div style="display: flex; align-items: center; gap: 10px;" (click)="$event.stopPropagation();">
                    <!-- Button Toggle Group -->
                    <mat-button-toggle-group class="status-group" appearance="legacy" value="active">
                      <mat-button-toggle value="active">Active</mat-button-toggle>
                      <mat-button-toggle value="inactive">Inactive</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
              </div>

              <div class="selection-container" *ngIf="isExpanded">
                <div class="rounded-box" (click)="selectDiv(1)" [ngClass]="{ 'selected': selectedDiv === 1 }">
                  <div class="d-flex justify-content-between div-secondary">
                    <div>
                      <label class="label">LOB</label>
                      <label class="label">Account</label>
                      <label class="label">Start Date</label>
                      <label class="label">End Date</label>
                    </div>
                    <div>
                      <label class="label">Medicare</label>
                      <label class="label">Microsoft</label>
                      <label class="label">01/01/2024</label>
                      <label class="label">12/31/2024</label>
                    </div>
                  </div>
                  <div class="selectedBox"></div>
                </div>

                <div class="rounded-box" (click)="selectDiv(2)" [ngClass]="{ 'selected': selectedDiv === 2 }">
                  <div class="d-flex justify-content-between div-secondary">
                    <div>
                      <label class="label">LOB</label>
                      <label class="label">Account</label>
                      <label class="label">Start Date</label>
                      <label class="label">End Date</label>
                    </div>
                    <div>
                      <label class="label">Medicare</label>
                      <label class="label">Microsoft</label>
                      <label class="label">01/01/2024</label>
                      <label class="label">12/31/2024</label>
                    </div>
                  </div>
                  <div class="selectedBox"></div>
                </div>

                <div class="rounded-box" (click)="selectDiv(3)" [ngClass]="{ 'selected': selectedDiv === 3 }">
                  <div class="d-flex justify-content-between div-secondary">
                    <div>
                      <label class="label">LOB</label>
                      <label class="label">Account</label>
                      <label class="label">Start Date</label>
                      <label class="label">End Date</label>
                    </div>
                    <div>
                      <label class="label">Medicare</label>
                      <label class="label">Microsoft</label>
                      <label class="label">01/01/2024</label>
                      <label class="label">12/31/2024</label>
                    </div>
                  </div>
                  <div class="selectedBox"></div>
                </div>

                <div class="rounded-box" (click)="selectDiv(4)" [ngClass]="{ 'selected': selectedDiv === 4 }">
                  <div class="d-flex justify-content-between div-secondary">
                    <div>
                      <label class="label">LOB</label>
                      <label class="label">Account</label>
                      <label class="label">Start Date</label>
                      <label class="label">End Date</label>
                    </div>
                    <div>
                      <label class="label">Medicare</label>
                      <label class="label">Microsoft</label>
                      <label class="label">01/01/2024</label>
                      <label class="label">12/31/2024</label>
                    </div>
                  </div>
                  <div class="selectedBox"></div>
                </div>
              </div>


            </mat-card>


            <!-- Dynamic Sections -->
            <div *ngIf="enrollmentSelect">
              <mat-card *ngFor="let section of ['authDetails', 'providerDetails', 'diagnosisDetails','serviceDetails','additionalDetails']">
                <div class="card-header" (click)="toggleSection(section)"
                     style="display: flex; align-items: center;">
                  <mat-icon>{{ formData[section]?.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                  <h6 style="color: #007BFF; font-weight: bold; margin: 0; padding-right: 50px;">{{ section | titlecase }}</h6>

                  <!-- Show Dropdown only for Auth Details -->
                  <!--<div style="width:350px;" class="position-relative" ">
                    <select class="form-select" id="admissionLevel" [(ngModel)]="selectedAuthType" name="Auth Type"
                            (change)="onAuthTypeChange(); $event.stopPropagation();" appShowLabel>
                      <option value="sel" selected>Select Auth Type</option>
                      <option value="urgent">Urgent</option>
                      <option value="other">Other</option>
                    </select>
                  </div>-->
                  <div style="width:350px;padding-left:10px;" class="position-relative" *ngIf="section === 'authDetails'">
                    <select class="form-select" id="authType" name="Auth Type"
                            [(ngModel)]="selectedTemplateId" (change)="onAuthTypeChange();$event.stopPropagation();" appShowLabel>
                      <option *ngFor="let template of authTemplates" [value]="template.Id">
                        {{ template.TemplateName }}
                      </option>
                    </select>
                  </div>

                </div>

                <!-- Accordion Content (only visible if expanded) -->
                <div class="accordion-content" *ngIf="formData[section]?.expanded && selectedTemplateId !== 0">

                  <!-- Additional Details Section (Always Expanded) -->
                  <div *ngIf="section === 'additionalDetails'">
                    <div *ngFor="let subSection of ['additionalInfo', 'memberProviderInfo', 'icdInfo', 'notes']">
                      <!--<h6 style="color: #007BFF; font-weight: bold; margin-top: 20px;">{{ subSection | titlecase }}</h6>-->
                      *

                      <div *ngFor="let entry of formData.additionalDetails?.[subSection]?.entries; let i = index" class="row align-items-center mb-3">

                        <div class="col-md-3 mb-3" *ngFor="let field of config.additionalDetails[subSection]">
                          <div class="form-outline">
                            <label [for]="field.id + '_' + i" class="form-label">{{ field.label }}</label>

                            <!-- Input Fields -->
                            <input *ngIf="field.type !== 'select' && field.type !== 'textarea'" class="form-control"
                                   [type]="field.type" [id]="field.id + '_' + i" [(ngModel)]="entry[field.id]"
                                   placeholder="{{ field.label }}" />

                            <!-- Dropdown -->
                            <select *ngIf="field.type === 'select'" class="form-control"
                                    [id]="field.id + '_' + i" [(ngModel)]="entry[field.id]">
                              <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                            </select>

                            <!-- Textarea -->
                            <textarea *ngIf="field.type === 'textarea'" class="form-control"
                                      [id]="field.id + '_' + i" [(ngModel)]="entry[field.id]"
                                      rows="3" placeholder="{{ field.label }}"></textarea>
                          </div>
                        </div>

                        <!-- Add & Remove Buttons -->
                        <div class="col-md-3 mb-3 text-end">
                          <button mat-icon-button color="warn"
                                  *ngIf="formData.additionalDetails?.[subSection]?.entries?.length > 1"
                                  (click)="removeEntry('additionalDetails.' + subSection, i)">
                            <mat-icon>remove_circle</mat-icon>
                          </button>
                          <button mat-icon-button color="primary"
                                  *ngIf="i === formData.additionalDetails?.[subSection]?.entries?.length - 1"
                                  (click)="addEntry('additionalDetails.' + subSection, i)">
                            <mat-icon>add_circle</mat-icon>
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>



                  <!-- Other Sections (Auth, Provider, Diagnosis, Services) -->
                  <div *ngIf="section !== 'additionalDetails'">
                    <div *ngFor="let entry of formData[section].entries; let i = index" class="row align-items-center mb-3">

                      <div class="col-md-3 mb-3" *ngFor="let field of config[section]; let j = index">
                        <div class="form-outline">
                          <label [for]="field.id + '_' + i" class="form-label">{{ field.label }}</label>

                          <!-- Input Fields -->
                          <input *ngIf="field.type !== 'select' && field.type !== 'radio'" class="form-control"
                                 [type]="field.type" [id]="field.id + '_' + i" [(ngModel)]="entry[field.id]"
                                 placeholder="{{ field.label }}" />

                          <!-- Dropdown -->
                          <select *ngIf="field.type === 'select'" class="form-control"
                                  [id]="field.id + '_' + i" [(ngModel)]="entry[field.id]">
                            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                          </select>
                        </div>
                      </div>

                      <!-- Primary Radio Button (Only in Diagnosis Section) -->
                      <div class="col-md-3 mb-3" *ngIf="section === 'diagnosisDetails'">
                        <label class="form-label">Primary</label>
                        <input type="radio" name="primary_{{ section }}"
                               [value]="i" [(ngModel)]="formData[section].primaryIndex"
                               (change)="setPrimary(section, i)">
                      </div>

                      <!-- Add & Remove Buttons -->
                      <div class="col-md-3 mb-3 text-end" *ngIf="section === 'diagnosisDetails' || section === 'providerDetails' || section==='serviceDetails'">
                        <button mat-icon-button color="warn" *ngIf="formData[section].entries.length > 1"
                                (click)="removeEntry(section, i)">
                          <mat-icon>remove_circle</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" *ngIf="i === formData[section].entries.length - 1"
                                (click)="addEntry(section, i)">
                          <mat-icon>add_circle</mat-icon>
                        </button>
                      </div>

                    </div>
                  </div>

                </div>

              </mat-card>
            </div>

            <!-- Save Button -->
            <div class="text-center">
              <button mat-raised-button color="primary" (click)="saveData()">Save</button>
            </div>


            <!-- Status Details -->
            <mat-card id="status" [ngClass]="{ 'highlight': highlightedSection === 'status' }" *ngIf="authTypeSelect">

              <div class="card-header" (click)="isStatusExpanded = !isStatusExpanded" style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <!-- Expand/Collapse Icon -->
                  <mat-icon>{{ isStatusExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                  <!-- Title -->
                  <h6 style="color: #007BFF; font-weight: bold; padding-right:30px;margin:0;">Status</h6>

                </div>

              </div>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step label="Decision Details" style="padding: 0px !important;">
        <div style="padding: 0px !important; display: -webkit-inline-box;">
          <!-- Tabs -->
          <div class="tabs" style="padding: 0px !important;">
            <div *ngFor="let tab of tabs"
                 (click)="selectTab(tab.id)"
                 [class.active]="selectedTabId === tab.id"
                 class="tab">
              {{ tab.name }}
            </div>
          </div>

          <!-- Single Component (Receives Selected Tab ID) -->
          <div class="content">
            <app-decisiondetails [id]="selectedTabId"></app-decisiondetails>
          </div>
        </div>
      </mat-step>
      <mat-step label="MD Review"></mat-step>
      <mat-step label="Close"></mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
