<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer-content mode="side" opened>

    <div class="dashboard-container">
      <div class="rounded-box"
           *ngFor="let widget of dashboardWidgets; let i = index"
           [ngClass]="{ 'selected': defaultWidget === widget.key }"
           (click)="handleWidgetClick(i + 1, widget.key)">
        <div class="d-flex justify-content-between align-items-center div-secondary">
          <div style="padding-left:10px;">
            <h1>{{ getCountForWidget(widget.key) }}</h1> <!-- Replace 0 with actual dynamic count if needed -->
          </div>
          <div style="text-align:center;">
            {{ widget.customLabel }}
          </div>
          <div style="padding-right:10px;">
            <mat-icon style="color: #007BFF;vertical-align:middle;">{{ getIconForWidget(widget.key) }}</mat-icon>
          </div>
        </div>
        <!--<mat-divider class="divider" [class.selected-divider]="defaultWidget === widget.key"></mat-divider>-->



      </div>
    </div>

    <div #dynamicContainer></div>

  </mat-drawer-content>
  <!--<mat-drawer #mainDrawer class="sidenav" style="width:15%;" mode="side" opened="false">
    <div>
      <mat-card>
        <mat-card-header style="background-color: #007BFF;">
          <mat-card-title style="color: white;">PATIENTS LIST</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let item of items">-->
              <!--<img mat-card-image [src]="item.photo" alt="{{ item.header }}">-->
              <!--<mat-card-title>{{ item.header }}</mat-card-title>
              <p>{{ item.content }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer>-->
</mat-drawer-container>
