
table {
  width: 100%;
}

.mdc-button {
  display: inline;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-header-cell {
  justify-content: left;
  color: white;
  font-weight: bold !important;
  padding: 0px 0px 0px 15px;
  background-color: #007BFF !important;
  font-family: 'Open Sans', sans-serif;
  border-right-color: white;
  border-right-width: thin;
}

.mat-mdc-header-row {
  font-family: 'Open Sans', sans-serif;
  height: 40px;
}

.mat-mdc-row {
  font-family: 'Open Sans', sans-serif;
  height: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/*.div-secondary {
  color: #fff;
  font-weight: bold;
}*/

.label-primary {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}


.mat-mdc-row {
  height: 20px;
}

.search-bar-container-table {
  padding: 0px 56px 0px 8px;
  background: #eaf1fb;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input {
  font-size: 1.1rem;
  outline: none;
  border: none;
  background: inherit;
  min-width: 500px;
}

/*.rounded-box {
  width: 200px;*/ /* Set the width of the div */
  /*height: 80px;  Set the height of the div */
  /*background-color: #007BFF;*/ /* Add a background color */
  /*color: white;*/ /* Text color */
  /* Padding inside the div */
  /*border-radius: 5px;*/ /* This creates rounded corners */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/ /* Optional: add a shadow */
  /*transition: background-color 0.3s ease;*/ /* Smooth transition */
  /*cursor: pointer;
}*/

.selectedBox {
  visibility: collapse;
}


/*.selectedBox.selected {
  border-bottom: 6px solid orange;
  background-color: #ff9800;*/ /* Highlight color for divider */
  /*height: 3px;*/ /* Optional: make the divider thicker */
  /*visibility:visible;
}*/

.sidenav-container {
  width: auto;
  background: white;
  padding:5px 5px;
}


.sidenav-content {
  display: flex;
  height: 100%;
}

.mat-label-header {
  color: #65C2D5;
  font-weight: bold;
}

.mat-tab-group .mat-tab-label-container {
  background-color: #ffccbc !important;
}

mat-card {
  margin: 5px;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

mat-card-image {
  width: 50px;
  height: 50px;
  margin-right: 0px;
}

mat-card-title {
  font-size: 16px;
  font-weight: bold;
}










/* For 2 or 3 widgets: show side by side */
.widget-row {
  justify-content: center;
}

/* For 4 or more: stack in column or wrap */
.widget-column {
  flex-direction: column;
}



/*.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;*/
/*  justify-content: space-between;*/
/*  padding: 10px;
*/  /*background-color: #f8f9fa;*/
/*}*/

/*.selected-divider {
  border-top: 4px solid orange !important;
  width: 100%;
  margin-top: 4px;
}*/

.divider {
  border-top: 2px solid transparent;
}

/*.selected-divider {
  border-top: 4px solid orange !important;
}*/



.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  justify-content: flex-start;
}

.rounded-box {
  flex: 1 1 250px;
  /*  min-width: 220px;*/
  max-width: 200px;
  padding: 8px;
  background: #fff;
  color: rgba(98, 108, 113, 1);
  border-radius: 10px;
  border: 1px solid #ddd; /* subtle border */
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

  .rounded-box:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transform: translateY(-2px);
    border-top: 3px solid #007BFF;
  }

  .rounded-box.selected {
    border: 1px solid #007BFF;
    border-top: 5px solid #007BFF; /* highlight top border */
    border-bottom: 3px solid #007BFF;
    background: #f0f7ff; /* light blue shade */
    /*    box-shadow: 0 6px 14px rgba(0,123,255,0.25);
*/
  }

  

  .rounded-box h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #007BFF;
  }

  .rounded-box .div-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    font-weight: bold;
*/  }
