
table {
  width: 100%;
}

.mat-mdc-header-cell {
  justify-content: left;
  color: white;
  font-weight: bold !important;
  padding: 0px 0px 0px 15px;
  background-color: #007BFF !important;
  font-family: 'Open Sans', sans-serif;
  border-right-color: white;
  border-right-width: thin;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.search-bar-container-table {
  padding: 0px 56px 0px 0px;
  background: #eaf1fb;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input {
  font-size: 1.1rem;
  outline: none;
  border: none;
  background: inherit;
  min-width: 300px;
}

.status-cell {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 5px;
}

.status-link {
  text-decoration: none;
  font-weight: bold;
}

.status-active {
  color: green;
  text-decoration: underline;
}

.status-inactive {
  color: red;
  text-decoration: underline;
}

.status-ends-soon {
  color: orange;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border-radius: 5px;
  border: solid 1px var(--mat-standard-button-toggle-divider-color, var(--mat-app-outline));
}


/* Container for the table */
.table-container {
  /*  margin: 20px;
*/ overflow-x: auto;
}

/* Responsive Table */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
}

  /* Table Header */
  .responsive-table th {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: left;
  }

  /* Table Body */
  .responsive-table td {
    padding: 3px;
    border: 1px solid #ddd;
  }

  /* Row Hover Effect */
  .responsive-table tr:hover {
    background-color: #f1f1f1;
  }


/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
  .responsive-table {
    font-size: 14px;
  }

  button {
    padding: 1px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    font-size: 12px;
  }

  button {
    font-size: 10px;
    padding: 4px;
  }
}

.search-container-table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /*  background-color: #f8f9fa;
*/ /*  padding: 10px;
*/
  border-radius: 8px;
  /*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
*/
}

.search-field-table {
  flex: 1;
  max-width: 60%;
  min-width: 300px;
  margin-right: 10px;
}

.status-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-button-toggle {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


::ng-deep .mat-mdc-menu-panel {
  background-color: white !important;
}

.body-item {
  padding: 2px;
  text-align: left;
}

  .body-item button:hover {
    text-decoration: underline; /* Underline on selection */
    font-weight: bold; /* Optional: Make text bold */
    background: none;
  }
