<div class="form-container">
  <form>
    <div class="form-grid">
      <ng-container *ngFor="let field of notesFields">
        <div *ngIf="field.id !== 'authorizationNotesGrid'" class="form-group"
             [ngClass]="{'textarea-field': field.type === 'textarea', 'hidden': field.hidden}">

          <ng-container [ngSwitch]="field.type">
            <select *ngSwitchCase="'select'" [(ngModel)]="field.value" [name]="field.id">
              <option *ngFor="let option of field.options" [value]="option.value"
                      [selected]="field.selectedOptions?.includes(option.value)">
                {{ option.label }}
              </option>
            </select>

            <input *ngSwitchCase="'datetime-local'" type="datetime-local" [(ngModel)]="field.value" [name]="field.id">

            <input *ngSwitchCase="'checkbox'" type="checkbox" [(ngModel)]="field.value" [name]="field.id"
                   (change)="onAlertNoteChange($event)">

            <textarea *ngSwitchCase="'textarea'" [(ngModel)]="field.value" [name]="field.id"></textarea>

            <input *ngSwitchDefault type="text" [(ngModel)]="field.value" [name]="field.id">
          </ng-container>

          <label>{{ field.label }}</label>
        </div>
      </ng-container>

      <div *ngIf="showEndDatetimeField">
        <label>End Datetime</label>
        <input type="datetime-local" [(ngModel)]="endDatetimeValue">
      </div>

      <button type="button" (click)="saveNote()">Save</button>
    </div>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Note Type</th>
      <th>Notes</th>
      <th>Created On</th>
      <th>Created By</th>
      <th>Updated On</th>
      <th>Updated By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.authorizationNoteType }}</td>
      <td>{{ note.authorizationNotes }}</td>
      <td>{{ note.createdOn }}</td>
      <td>{{ note.createdBy }}</td>
      <td>{{ note.updatedOn }}</td>
      <td>{{ note.updatedBy }}</td>
      <td>
        <button class="edit-btn" (click)="editNote(note)">Edit</button>
        <button class="delete-btn" (click)="deleteNote(note.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


