<h3>Case Details</h3>

<form class="case-details" [formGroup]="form">

  <ng-container *ngFor="let sec of renderSections; trackBy: trackBySection">
    <div class="section-card" *ngIf="visibleSection(sec)">

      <div class="section-header">
        <div class="section-title">{{ sec.title }}</div>
      </div>

      <!-- =========================
           SECTION FIELDS
           ========================= -->
      <div class="grid">
        <ng-container *ngFor="let f of sec.fields; trackBy: trackByField">
          <ng-container *ngIf="visibleField(f, sec)">
            <ng-container *ngIf="form.get(f.controlName) as ctrl">

              <div class="ff"
                   [class.ff-disabled]="ctrl.disabled"
                   [class.ff-invalid]="ctrl.touched && ctrl.invalid">

                <!-- NON-CHECKBOX -->
                <ng-container *ngIf="f.type !== 'checkbox'; else checkboxFieldSec">
                  <label class="ff-label">{{ f.label }}</label>

                  <ng-container [ngSwitch]="f.type">

                    <!-- Dropdown - wire later with correct inputs -->
                    <!--
                    <ng-container *ngSwitchCase="'select'">
                      <ui-smart-dropdown class="ff-control"
                                         [formControl]="$any(ctrl)">
                      </ui-smart-dropdown>
                    </ng-container>
                    -->

                    <ng-container *ngSwitchCase="'datetime-local'">
                      <ui-datetime-picker class="ff-control" [formControl]="$any(ctrl)"></ui-datetime-picker>
                    </ng-container>

                    <ng-container *ngSwitchCase="'datatime-local'">
                      <ui-datetime-picker class="ff-control" [formControl]="$any(ctrl)"></ui-datetime-picker>
                    </ng-container>

                    <ng-container *ngSwitchCase="'textarea'">
                      <textarea class="ff-control ff-textarea" rows="3" [formControl]="$any(ctrl)"></textarea>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <input class="ff-control" type="text" [formControl]="$any(ctrl)" />
                    </ng-container>

                  </ng-container>

                  <div class="ff-error" *ngIf="ctrl.touched && ctrl.invalid">
                    {{ f.requiredMsg || (f.label + ' is required') }}
                  </div>
                </ng-container>

                <!-- CHECKBOX -->
                <ng-template #checkboxFieldSec>
                  <div class="ff-checkbox">
                    <input type="checkbox" [formControl]="$any(ctrl)" />
                    <span class="ff-checkbox-text">{{ f.label }}</span>
                  </div>

                  <div class="ff-error" *ngIf="ctrl.touched && ctrl.invalid">
                    {{ f.requiredMsg || (f.label + ' is required') }}
                  </div>
                </ng-template>

              </div>

            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <!-- =========================
           SUBSECTIONS
           ========================= -->
      <ng-container *ngFor="let sub of sec.subsections; trackBy: trackBySub">
        <div class="sub-card" *ngIf="visibleSubsection(sub, sec)">
          <div class="sub-title">{{ sub.title }}</div>

          <div class="grid">
            <ng-container *ngFor="let f of sub.fields; trackBy: trackByField">
              <ng-container *ngIf="visibleField(f, sec, sub)">
                <ng-container *ngIf="form.get(f.controlName) as ctrl">

                  <div class="ff"
                       [class.ff-disabled]="ctrl.disabled"
                       [class.ff-invalid]="ctrl.touched && ctrl.invalid">

                    <!-- NON-CHECKBOX -->
                    <ng-container *ngIf="f.type !== 'checkbox'; else checkboxFieldSub">
                      <label class="ff-label">{{ f.label }}</label>

                      <ng-container [ngSwitch]="f.type">

                        <!-- Dropdown - wire later with correct inputs -->
                        <!--
                        <ng-container *ngSwitchCase="'select'">
                          <ui-smart-dropdown class="ff-control"
                                             [formControl]="$any(ctrl)">
                          </ui-smart-dropdown>
                        </ng-container>
                        -->

                        <ng-container *ngSwitchCase="'datetime-local'">
                          <ui-datetime-picker class="ff-control" [formControl]="$any(ctrl)"></ui-datetime-picker>
                        </ng-container>

                        <ng-container *ngSwitchCase="'datatime-local'">
                          <ui-datetime-picker class="ff-control" [formControl]="$any(ctrl)"></ui-datetime-picker>
                        </ng-container>

                        <ng-container *ngSwitchCase="'textarea'">
                          <textarea class="ff-control ff-textarea" rows="3" [formControl]="$any(ctrl)"></textarea>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                          <input class="ff-control" type="text" [formControl]="$any(ctrl)" />
                        </ng-container>

                      </ng-container>

                      <div class="ff-error" *ngIf="ctrl.touched && ctrl.invalid">
                        {{ f.requiredMsg || (f.label + ' is required') }}
                      </div>
                    </ng-container>

                    <!-- CHECKBOX -->
                    <ng-template #checkboxFieldSub>
                      <div class="ff-checkbox">
                        <input type="checkbox" [formControl]="$any(ctrl)" />
                        <span class="ff-checkbox-text">{{ f.label }}</span>
                      </div>

                      <div class="ff-error" *ngIf="ctrl.touched && ctrl.invalid">
                        {{ f.requiredMsg || (f.label + ' is required') }}
                      </div>
                    </ng-template>

                  </div>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </ng-container>

    </div>
  </ng-container>

</form>
