<mat-tab-group>
  <mat-tab label="Permissions">
    <!-- EXISTING CONTENT GOES HERE -->
    <div class="py-4">

      <div style="display: flex; gap: 20px;">

        <!-- Role Dropdown -->
        <!-- Module Multi-Select Dropdown -->
        <div style="flex: 1;">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Modules</mat-label>
            <mat-select [(ngModel)]="selectedModules" multiple (ngModelChange)="onModulesChanged()">
              <mat-option *ngFor="let mod of allModules" [value]="mod.moduleId">
                {{ mod.moduleName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Feature Group Dropdown -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Feature Groups</mat-label>
          <mat-select [(ngModel)]="selectedFeatureGroups" multiple (ngModelChange)="onFeatureGroupsChanged()">
            <mat-option *ngFor="let feature of availableFeatureGroups" [value]="feature">
              {{ feature }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="selectedModules.length > 0" class="mb-4">
        <input type="text" class="form-control mb-3" placeholder="Search features..." [(ngModel)]="searchText">
      </div>

      <ng-container *ngIf="readyToRender">
        <div class="table-responsive mt-4 field-table-scroll">
          <table class="responsive-table">
            <!--<table class="table table-bordered table-striped align-middle">-->
            <thead>
              <tr>
                <th style="background-color: #dae2f9; color:black; font-size:.86rem font-size:.86rem">Features</th>
                <th style="background-color: #dae2f9; color:black; font-size:.86rem font-size:.86rem " class="text-center" *ngFor="let col of ['Add','Edit','View','Delete','Download','Print']">
                  <input type="checkbox"
                         [checked]="isAllSelectedGlobal(col)"
                         [indeterminate]="isSomeSelectedGlobal(col)"
                         (change)="toggleAllGlobal(col, $event)">
                  {{ col }}
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let module of filteredModules">
                <ng-container *ngFor="let featureGroup of module.featureGroups">
                  <ng-container *ngFor="let page of featureGroup.pages">
                    <tr [hidden]="!filterPage(page.name)">
                      <td (click)="togglePageExpand(page.name)" style="cursor: pointer;">
                        <span class="fw-bold d-flex align-items-center">
                          <mat-icon *ngIf="page.resources?.length" class="me-1">
                            {{ pageExpandState[page.name] ? 'expand_more' : 'chevron_right' }}
                          </mat-icon>
                          {{ featureGroup.featureGroupName }} &raquo; {{ page.name }}
                        </span>
                      </td>
                      <td class="text-center" *ngFor="let col of ['Add','Edit','View','Delete','Download','Print']">
                        <input type="checkbox"
                               class="form-check-input"
                               [checked]="isPageActionSelected(col, page)"
                               [indeterminate]="isPageActionPartiallySelected(col, page)"
                               (change)="onPageCheckboxChanged($event, page, col)">
                      </td>
                    </tr>
                    <!-- Resource Rows Inline -->
                    <ng-container *ngIf="pageExpandState[page.name] && page.resources?.length">
                      <tr *ngFor="let res of page.resources" class="bg-light">
                        <td class="ps-5 text-muted">↳ {{ res.name }}</td>
                        <td class="text-center" *ngFor="let col of ['Add','Edit','View','Delete','Download','Print']">
                          <ng-container *ngIf="getResourceAction(res, col) as resAction; else disabledCell">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [checked]="resAction.checked"
                                   [disabled]="!resAction.hasOwnProperty('checked')"
                                   [ngClass]="{ 'opacity-50': !resAction.hasOwnProperty('checked') }"
                                   matTooltip="{{ !resAction.hasOwnProperty('checked') ? 'Not permitted for this resource' : '' }}"
                                   (change)="onResourceCheckboxChanged($event, resAction)">
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>

        <ng-template #disabledCell>
          <input type="checkbox" class="form-check-input" disabled>
        </ng-template>
      </ng-container>

      <!--<div class="sticky-footer bg-light p-3 shadow-sm d-flex justify-content-end">
        <button class="btn btn-success me-2" (click)="savePermissions()">Save Changes</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>-->
    </div>
  </mat-tab>

  <mat-tab label="Field Level Access">
    <div class="p-4">
      <ng-container *ngIf="selectedFeatureGroups.length === 0; else fieldAccessTable">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <mat-icon class="me-2">warning</mat-icon>
          <div>
            <strong>Field Level Access is currently unavailable.</strong><br />
            Please select one or more <strong>Feature Groups</strong> from the <em>Permissions</em> tab to enable field-level configuration.
          </div>
        </div>
      </ng-container>
      <ng-template #fieldAccessTable>
        <div class="table-responsive mt-4 field-table-scroll">
          <table class="responsive-table">
            <thead>
              <tr>
                <th style="background-color: #dae2f9; color:black; font-size:.86rem">Resource</th>
                <th style="background-color: #dae2f9; color:black; font-size:.86rem">Field</th>
                <th class="text-center" style="background-color: #dae2f9; color:black; font-size:.86rem">
                  <input type="radio" name="global-access"
                         [(ngModel)]="selectedFieldAccessHeader"
                         [value]="'Edit'"
                         (change)="setAllFieldAccess('Edit')"> Edit
                </th>
                <th class="text-center" style="background-color: #dae2f9; color:black; font-size:.86rem">
                  <input type="radio" name="global-access"
                         [(ngModel)]="selectedFieldAccessHeader"
                         [value]="'View'"
                         (change)="setAllFieldAccess('View')"> View
                </th>
                <th class="text-center" style="background-color: #dae2f9; color:black; font-size:.86rem">
                  <input type="radio" name="global-access"
                         [(ngModel)]="selectedFieldAccessHeader"
                         [value]="'Hide'"
                         (change)="setAllFieldAccess('Hide')"> Hide
                </th>
              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let field of fieldLevelAccessFields">
                <td>Personal Details</td>
                <td>{{ field.fieldName }}</td>
                <td class="text-center">
                  <input type="radio" name="{{ field.fieldName }}" [value]="'Edit'" [(ngModel)]="field.access">
                </td>
                <td class="text-center">
                  <input type="radio" name="{{ field.fieldName }}" [value]="'View'" [(ngModel)]="field.access">
                </td>
                <td class="text-center">
                  <input type="radio" name="{{ field.fieldName }}" [value]="'Hide'" [(ngModel)]="field.access">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>

    </div>
  </mat-tab>


  <mat-tab label="Home Dashboard Setup">
    <div class="p-4">
      <div *ngIf="!hasAnyWidgetSelected()" class="alert alert-info d-flex align-items-center mb-3" role="alert">
        <mat-icon class="me-2">info</mat-icon>
        <div>
          Please select at least one widget in <strong>Home Dashboard Setup</strong>.
        </div>
      </div>

      <!-- Widget Selection Table -->
      <div class="table-responsive mt-4 field-table-scroll">
        <table class="responsive-table">
          <thead class="table-primary">
            <tr>
              <th style="background-color: #dae2f9; color:black; font-size:.86rem">Enable</th>
              <th style="background-color: #dae2f9; color:black; font-size:.86rem">Widget</th>
              <th style="background-color: #dae2f9; color:black; font-size:.86rem">Rename</th>
              <th style="background-color: #dae2f9; color:black; font-size:.86rem">Set as Default</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let widget of dashboardWidgets">
              <td class="text-center">
                <mat-checkbox [(ngModel)]="widget.enabled"></mat-checkbox>
              </td>
              <td>{{ widget.defaultLabel }}</td>
              <td>
                <input class="form-control form-control-sm" [(ngModel)]="widget.customLabel" [disabled]="!widget.enabled">
              </td>
              <td class="text-center">
                <mat-radio-group [(ngModel)]="defaultWidget" [disabled]="!widget.enabled">
                  <mat-radio-button [value]="widget.key"></mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Member Banner Config">
    <div class="p-4">
      <p>Member Banner Config tab content will be added here...</p>
    </div>
  </mat-tab>
</mat-tab-group>
