<div class="decision-details-layout">
  <!-- Left Side: Tabs -->
  <div class="tabs-container">
    <div class="tabs">
      <div *ngFor="let tab of tabs"
           (click)="selectTab(tab.id)"
           [class.active]="selectedTabId === tab.id"
           class="tab">
        {{ tab.name }}
      </div>
    </div>
  </div>

  <!-- Right Side: Decision Details -->
  <div class="tab-content">
    <div class="decision-details-container">
      <mat-card *ngFor="let section of sections" class="section-card">

        <div class="form-outline">
          <label class="form-label">{{ section.sectionName }}</label>
        </div>

        <div class="section-content">
          <div class="row">
            <div class="col-md-3 mb-3" *ngFor="let field of section.fields; let i = index">
              <div class="form-outline" [ngClass]="{ 'disabled-field': !field.isEnabled }">
                <label [for]="field.id + '_' + i" class="form-label">
                  {{ field.displayName }} <span *ngIf="field.required" class="text-danger">*</span>
                </label>

                <ng-container [ngSwitch]="field.type">
                  <input *ngSwitchCase="'text'" type="text" class="form-control"
                         [(ngModel)]="field.value" [disabled]="!field.isEnabled">
                  <input *ngSwitchCase="'datetime-local'" type="datetime-local" class="form-control"
                         [(ngModel)]="field.value" [disabled]="!field.isEnabled">
                  <select *ngSwitchCase="'select'" class="form-control"
                          [(ngModel)]="field.value" [disabled]="!field.isEnabled">
                    <option *ngFor="let option of field.options" [value]="option.value">
                      {{ option.label }}
                    </option>

                  </select>
                  <textarea *ngSwitchCase="'textarea'" class="form-control"
                            [(ngModel)]="field.value" rows="3" [disabled]="!field.isEnabled"></textarea>
                  <input *ngSwitchCase="'checkbox'" type="checkbox" class="form-check-input"
                         [(ngModel)]="field.value" [disabled]="!field.isEnabled">
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </mat-card>

      <div class="text-center mt-3">
        <button class="btn btn-primary" (click)="saveDecisionData()">Save</button>
      </div>

      <h5>Guidelines</h5>
      <div class="row">
        <div class="col-md-3 mb-3">
          <button class="btn btn-primary">+ MCG</button>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-primary">+ InterQual</button>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-primary">+ Internal</button>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-primary">+ Others</button>
        </div>
      </div>
    </div>
  </div>
</div>
