<div class="tab-container">
  <!-- 🌟 Main Tabs Navigation -->
  <ul class="tab-header nav nav-tabs" role="tablist" *ngIf="!showAuthorizationComponent">
    <li class="nav-item" *ngFor="let tab of getOrderedMainTabs(); let i = index">
      <!--*ngFor="let tab of mainTabs; let i = index">-->
      <button class="nav-link"
              [class.active]="i === 0"
              data-bs-toggle="tab"
              [attr.data-bs-target]="'#' + getSafeId(tab.name)"
              type="button"
              role="tab">
        {{ tab.name }}
      </button>
    </li>
  </ul>

  <!-- 🌟 Main Tab Content -->
  <div class="tab-content">
    <div *ngFor="let tab of getOrderedMainTabs(); let i = index"
         class="tab-pane fade"
         [class.show]="i === 0"
         [class.active]="i === 0"
         [attr.id]="getSafeId(tab.name)"
         role="tabpanel">

      <!-- 🌟 Special Authorization Handling -->
      <div *ngIf="tab.name === 'Authorization'">
        <div *ngIf="!showAuthorizationComponent">
          <app-authdetails [memberId]="memberId" (addClicked)="onAddClick($event)"></app-authdetails>
        </div>
        <div *ngIf="showAuthorizationComponent">
          <app-authorization [authNumber]="authNumber" [memberId]="memberId" (cancel)="onCancel()"></app-authorization>
        </div>
      </div>
      <!---->

      <div *ngIf="tab.name === 'Member Journey'">
        <app-memberjourney ></app-memberjourney>
      </div>
      <!-- 🌟 Child Tabs and Content -->
      <ng-container *ngIf="tab.name !== 'Authorization' && tab.name !== 'Member Journey'">

        <!-- Child Tab Headers -->
        <ul class="child-tab-header nav nav-tabs mt-2" role="tablist" *ngIf="tab.pages.length > 0">
          <li class="nav-item" *ngFor="let page of getOrderedPages(tab); let j = index">
            <button class="nav-link"
                    [class.active]="j === 0"
                    data-bs-toggle="tab"
                    [attr.data-bs-target]="'#' + getSafeId(tab.name) + '-' + getSafeId(page.name)"
                    type="button"
                    role="tab">
              {{ page.name }}
            </button>
          </li>
        </ul>

        <!-- Message when no pages -->
        <div *ngIf="tab.pages.length === 0" class="p-3 text-muted">
          No pages available for this section.
        </div>

        <!-- Child Tab Contents -->
        <div class="tab-content mt-2" *ngIf="tab.pages.length > 0">
          <div *ngFor="let page of getOrderedPages(tab); let j = index"
               class="tab-pane fade"
               [class.show]="j === 0"
               [class.active]="j === 0"
               [attr.id]="getSafeId(tab.name) + '-' + getSafeId(page.name)"
               role="tabpanel">

            <ng-container [ngSwitch]="page.name">
              <app-member-info *ngSwitchCase="'Member Info'"></app-member-info>
              <!--<app-memberjourney *ngSwitchCase="'Member Info'"></app-memberjourney>-->
              <app-member-tasksummary *ngSwitchCase="'Task Summary'"></app-member-tasksummary>
              <app-member-program *ngSwitchCase="'Program'"></app-member-program>
              <app-member-enrollment *ngSwitchCase="'Enrollment'"></app-member-enrollment>
              <app-member-careteam *ngSwitchCase="'Care Team'"></app-member-careteam>
              <app-member-notes *ngSwitchCase="'Health Notes'" [memberId]="memberId"></app-member-notes>
              <app-member-documents *ngSwitchCase="'Member Documents'" [memberId]="memberId"></app-member-documents>
              <app-member-caregiver *ngSwitchCase="'Caregiver'"></app-member-caregiver>
              <app-member-alerts *ngSwitchCase="'Alerts'"></app-member-alerts>
              <p *ngSwitchDefault>📌 {{ page.name }} content...</p>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
